.idea/
.gradle/
*.iml
*.md
**/build/
**/out/
*.log
.groovy/
.project
.settings/
bin/
logs/
.classpath
*.tmp
/*.log
**/.classpath
**/.project
*.class
*/bin
*/.settings
.settings
/.checkstyle
qa-cli/node_modules
_qa-cli-cache_config.properties
